<section class="container">

    <h1>Update Nation</h1>

    <div class="registryForm">

        <form action="" [formGroup]="chosenNation">
            <select name="nationtobechosen" id="">
                <option *ngFor="let nation of nations; index as i" value="{{nation.nation_id]]">{{nation.nation_name}}</option>
            </select>
        </form>

        <form action="" [formGroup]="updateNation">
            <div>
                <label>
                    Name
                    <input type="text" formControlname="name" required="" minlength="8" maxlength="40">
                </label>
            </div>
            <div>
                <label for="">
                    Short Description
                    <textarea name="shortdescription" formControlname="shortdescription" rows="2" cols="30">
                    </textarea>
                </label>
            </div>
            <div>
                <label for="">
                    Description
                    <textarea name="description" formControlname="description" rows="2" cols="30" required="">
                    </textarea>
                </label>
            </div>
            <div>
                <label>
                    Hub
                    <input type="text" required="" formControlname="hub" minlength="3" maxlength="30">
                </label>
            </div>
            <div>
                <label for="">
                    Hub Description
                    <textarea name="hubdescription" formControlname="hubdescription" rows="2" cols="30" required="">
                    </textarea>
                </label>
            </div>
            <div>
                <label>
                    Traits
                    <option>
                    </option>
                </label>
            </div>
            <div>
                <button type="submit" name="send">Submit</button>
            </div>
        </form>
    </div>
    
</section>
