<section>
    
    <h1 class="detailedpage-header">{{ name }}</h1>
    
    <article class="two-page-grid">
        <div class="nationleftside">
            
            <h2 class="text-align-center">Description</h2>
            <div [innerHTML]="description | sanitizeHtml"></div>
            
            <h2 class="mainhub text-align-center">Headquarters</h2>
            <h3 class="text-align-center"> {{ headquarters }}</h3>
            
        </div>
        
        <div class="nationrightside">
            
            <!-- <div class="nationbanner" [innerHTML]="order.order_banner | sanitizeHtml"></div>            -->
            
            <h2 class="blue text-align-center"><em>{{ official_name }}</em></h2>
            
            <h3 class="blue">Scope</h3>
            <p>{{scope}}</p>
            
            <h3 class="blue">Alignment</h3>
            <p>{{alignment}}</p>

            <h3 class="blue">Values</h3>
            <p>{{values}}</p>
            
            <h3 class="blue">Goals</h3>
            <div [innerHTML]="goals | sanitizeHtml"></div>

            <h3 class="blue">Allies</h3>
            <p>{{allies}}</p>

            <h3 class="blue">Enemies</h3>
            <p>{{enemies}}</p>

            <h3 class="blue">Rivals</h3>
            <p>{{rivals}}</p>
        </div>
    </article>
    
</section>
