<section class="container">

    <h1>Create God</h1>

    <div class="registryForm">

        <form [formGroup]="createGod" (ngSubmit)="onSubmit()">
        <h5 class="red-alert" role="alert" *ngIf="errorMessage">{{errorMessage}}</h5>
            <div>
                <label>
                    Name
                    <input type="text" name="god" formControlName="name" required="" minlength="8" maxlength="40">
                </label>
            </div>
            <div>
                <label>
                    alignment
                <input type="text" name="alignment" formControlName="summary" required="" minlength="2" maxlength="15">
                </label>
            </div>
            <div>
                <label>
                    God Domains
                    <input type="text" name="domains" formControlName="domains" required="" minlength="8" maxlength="50">
                </label>
            </div>
            <div>
                <label>
                    God Mysteries
                    <input type="text" name="mysteries" formControlName="mysteries" required="" minlength="8" maxlength="50">
                </label>
            </div>
            <div>
                <label>
                    God's Favoured Weapon
                    <input type="text" name="favweapon" formControlName="favweapon" required=""  minlength="3" maxlength="50">
                </label>
            </div>
            <div>
                <label>
                    Belongs to which Pantheon
                    <option></option>
                </label>
            </div>
            <div>
                <button type="submit" name="send">Register</button>
            </div>
        </form>
    </div>
</section>
