<section class="container">

    <h1>Create Order</h1>
    
    <div class="registryForm">

        <form>
            <div>
                <label>
                    Name
                    <input type="text" name="name" required="" minlength="3" maxlength="30">
                </label>
            </div>
            <div>
                <label>
                    Official name
                    <input type="text" name="officialname" required="" minlength="3" maxlength="30">
                </label>
            </div>
            <div>
                <label>
                    Summary
                    <input type="text" name="summary" required="" maxlength="150">
                </label>
            </div>
            <div>
                <label>
                    Description
                    <textarea name="description" required="" cols="30" rows="3"></textarea>
                </label>
            </div>
            <div>
                <label>
                    scope
                    <input type="text" name="scope" required="" minlength="3" maxlength="30">
                </label>
            </div>
            <div>
                <label>
                    alignment
                    <input type="text" name="alignment" required="" minlength="3" maxlength="20">
                </label>
            </div>
            <div>
                <label>
                    headquarters
                    <input type="text" name="headquarters" required="" minlength="3" maxlength="20">
                </label>
            </div>
            <div>
                <label>
                    Values
                    <input type="text" name="values" required="" minlength="3" maxlength="60">
                </label>
            </div>
            <div>
                <label>
                    Goals
                    <input type="text" name="goals" required="" minlength="3" maxlength="150">
                </label>
            </div>
            <div>
                <label>
                    Allies
                    <input type="text" name="allies" required="" minlength="3" maxlength="80">
                </label>
            </div>
            <div>
                <label>
                    Enemies
                    <input type="text" name="enemies" required="" minlength="3" maxlength="80">
                </label>
            </div>
            <div>
                <label>
                    Rivals
                    <input type="text" name="rivals" required="" minlength="3" maxlength="80">
                </label>
            </div>
            <div>
                <button type="submit" name="send">Submit</button>
            </div>
        </form>
    </div>

</section>
