<section class="container">

    <h1>Create Pantheon</h1>
    
    <div class="registryForm">

        <form action="" [formGroup]="createPantheon" (ngSubmit)="onSubmit()">
            <h5 class="red-alert" role="alert" *ngIf="message">{{message}}</h5>
            <div>
                <label>
                    Name
                    <input type="text" formControlName="pantheon_name" name="name" required="" minlength="3" maxlength="30">
                </label>
            </div>
            <div>
                <label>
                    Summary
                    <input type="text" formControlName="pantheon_summary" name="summary" required="" maxlength="200">
                </label>
            </div>
            <div>
                <label>
                    Description
                    <textarea name="description" formControlName="pantheon_description" required="" cols="30" rows="3"></textarea>
                </label>
            </div>
            <div>
                <label>
                    scope
                    <input type="text" formControlName="pantheon_scope" name="scope" required="" minlength="3" maxlength="30">
                </label>
            </div>
            <div>
                <button type="submit" name="send">Submit</button>
            </div>
        </form>
    </div>

</section>
