<section class="container">

    <h1>Create Pantheon</h1>
    
    <div class="registryForm">

        <form>
            <div>
                <label>
                    Name
                    <input type="text" name="name" required="" minlength="3" maxlength="30">
                </label>
            </div>
            <div>
                <label>
                    Summary
                    <input type="text" name="summary" required="" maxlength="200">
                </label>
            </div>
            <div>
                <label>
                    Description
                    <textarea name="description" required="" cols="30" rows="3"></textarea>
                </label>
            </div>
            <div>
                <label>
                    Banner
                    <input type="file">
                </label>
            </div>
            <div>
                <label>
                    scope
                    <input type="text" name="scope" required="" minlength="3" maxlength="30">
                </label>
            </div>
            <div>
                <button type="submit" name="send">Submit</button>
            </div>
        </form>
    </div>

</section>
