  // Disposition of the page in two layers in desktop mode
.twoColumns {
  display: grid;
  grid-template-columns: 1fr 5fr;
}

// assuring that the main content fills the whole page
main {
  min-height: 76.5vh;
}

/* desktop navigation menu and it's subcomponents */

// main navigation menu
nav {
  text-align: center;
  text-transform: uppercase;
  overflow: hidden;
  background: rgb(36, 33, 33);
  min-width: 306px;
  .navlink {
    position: relative;
    width: 100%;
    padding: 0;
  }
  a {
    text-decoration: none;
    display: block;
    padding: 10px;
    cursor: pointer;
  }
  li, li a{
    color: #fff;
  }
  li {
    border: 1px solid black;
  }
  li a:hover, li a:focus {
    background-color: #666;
  }
  span {
    padding: 0 15px;
    position: absolute;
    right: 0;
    font-weight: 800;
  }
  .loginTab  {
    padding-top: 15px;
    font-size: small;
    text-transform: none;
  }
}

// to make sure navigation submenus do not go beyond the page height
.withsubnav {
  overflow: auto;
  max-height: 50vh;
}

// configuration of the search engine box (currently just a placeholder)
.nav-search-content {
  padding: 0.5rem 0;
}
.nav-search-box {
  position: relative;
  .icon-search {
    position: absolute;
    left: -250px;
    margin-top: 17px;
    z-index: 1;
    color: gold;
  }
  .nav-searchInput {
    padding: 1rem 4.2rem;
    background-color: #000;
    color: gold;
    outline: none;
    border: 1px solid gray;
    border-left: none;
    border-right: none;
  }
  .nav-searchInput::placeholder {
    color: gold;
  } 
}

// amplyfing glass icon and it's configuration
.glass {
  padding: 10px 0;
  display: block;
}

// simple trick to hide the plus sign and reveal the minus sign on the navigation tabs that have content
.withsubnav:hover a .icon-plus {
  display: none;
}

// reveal of the submenus when hover/focus is being done on the navigation tab and how hovering affects them
.withsubnav:hover .subnav,
 .withsubnav:focus-within .subnav {
  display: block;
  max-height: 200vh;
}
.subnav {
  overflow: hidden;
  max-height: 0;
  -webkit-transition: all 1s ease-out;
  li {
    display: block;
    text-transform: none;
    background-color: black;
  }
  li:hover, li:focus {
    background-color: #666;
  }
  li:hover a, li:focus a {    
    color: #fff;
  }
}

// highlighting the box red when incorrect submition
form .ng-invalid.ng-touched {
  border: 2px solid #F00;
}

// configuration to hide mobile menu on desktop mode
.mobile-menu {
  display: none;
}

// class to block the body from scrolling when the menu is active
.scrollBlock {
  overflow: hidden;
  max-height: 100vh;
}

// Definitions for screens below 1024px
@media only screen and (max-width: 1023px) {
  .twoColumns {
    display: block
  }
  nav {
    display: none;
  }
  .background-fade {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,.5);
    z-index: 1;
  }
  .mobile-menu {
    display: block;
    height: 48px;
    position: relative;
    background: rgb(36, 33, 33);
    
    .hamburguer button {
      padding: 18px;
      background: none;
      border: none;
    }
    .hamburguer fa-icon {
      position: absolute;
      left: 10px;
      top: 5px;
      color: #fff;
      cursor: pointer;
      transition: 500ms;
      z-index: 1;
    }
    
    .hamburguer fa-icon:hover, .hamburguer fa-icon:focus {
      color: gold;
    }
    .mobile-content{
      background: rgb(36, 33, 33);
      width: 335px;
      min-height: 100vh;
      margin-right: 40px;
      position: absolute;
      top: 48px;
      transition: 300ms;
      border-right: 1px solid grey;
      z-index: 1;
    }
    
    .mobile-content li {
      background: rgb(36, 33, 33);
      text-align: center;
      text-transform: uppercase;
      color: #fff;
      display: block;
      span {
        padding: 0 15px;
        position: absolute;
        right: 0;
        font-weight: 800;
      }
      .loginTab  {
        padding-top: 15px;
        font-size: small;
        text-transform: none;
      }
    }
    .mobile-content li a {
      display: block;
      padding: 1rem 0;
      width: inherit;
      color: #fff;
    }
    .mobile-content li a:hover,
    .mobile-content li a:focus,
    .mobile-content li fa-icon:hover,
    .mobile-content li fa-icon:focus,
    .mobile-content li .nav-search-content:hover,
    .mobile-content li .nav-search-content:focus
     {
      background-color: #666;
    }
    .mobile-content li a span {
      padding: 0 15px;
      position: absolute;
      right: 0;
      font-weight: 800;
    }
    .mobile-content .withsubnav .subnav li {
      background-color: black;
    }
    .icon-search {
      left: -280px;
      margin-top: 17px;
    }
    .nav-searchInput {
      padding: 1rem 5.2rem;
    }
  }
}
@media only screen and (max-width: 450px) {
  .socialIcons {
    grid-template-columns: repeat(2, 50px) !important;
    gap: 5px;
  }
  .socialIcons .socialIcon {
    height: 20px;
    width: 20px;
    padding: 10px;
  }
}

// Footer and all it's components
footer {
  position: relative;
  width: 100%;
}

footer h2{  
  text-align: center;  
  font-size: 800;
  font-weight: 0.7rem;
  text-transform: uppercase;
}

// element to go to the top of the page and it's sub elements
.backtotop {
  position: absolute;
  width: 100%;
  top: -40px;
  
  .backtotoplink {
    background: url(../assets/Images/back-to-top.png) 50% 0 no-repeat;
    width: 160px;
    height: 15px;
    padding-top: 25px;
    display: inline-block;
    overflow: hidden;
    position: relative;
    z-index: 0;
  }
  .backtotoplink:hover, .backtotoplink:focus {
    background: url(../assets/Images/back-to-top.png) 0% 100% no-repeat;
  }
  .backtotoplink button{
    color: white;
    font-weight: 600;
    line-height: 1;
    font-size: 0.7rem;
    text-decoration: none;
    text-transform: uppercase;
    border: none;
    background-color: inherit;
    position: relative;
    top: -20px;
    padding: 22px 22px 2px;
  }
}

// Grid disposition to force the footer to be divided in 2 responsive columns
.footercontent {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1rem;
  background-color: rgb(36, 33, 33);
  color: #fff;
  padding-top: 60px;
  h3 {
    font-weight: 700;
    font-size: 1.2em;
    line-height: 1;
    margin-bottom: 10px;
    padding: 0;
    display: inline-flex;
    flex-direction: column;
  }
  h3::after {
    content: "";
    display: block;
    height: 2px;
    margin-top: 10px;
    background: linear-gradient(to right, rgba(157,10,14,0), #9d0a0e, #9d0a0e, rgba(157,10,14,0));
  }
}

// Social Icons Tab
.socialIcons {
  display: grid;
  grid-template-columns: repeat(4, 60px);
  grid-template-rows: auto;
  column-gap: 10px;
  justify-content: center;
  
  .socialIcon {
    height: 25px;
    width: 25px;
    padding: 15px;
    border-radius: 15px;
    background-color: black;
    filter: drop-shadow( 5px 5px 5px 5px rgb(245 240 240 / 0.8) );
    transition: 500ms;
  }
  .socialIcon:hover {
    background-color: #9d0a0e;
  }
  a {
    width: 55px;
  }
}

// Table of contents tab
.indexbottom {
  text-align: center;
  
  li {
    display: inline-block;
  }
  li a {
    padding: 16px;
    font-size: 1.2em;
    color: white;
    transition: 500ms;
  }
  li a:hover {
    color: #9d0a0e;
  }
}

// configuration of the last part of the page, the copyright
.copyright {
  background-color: rgb(36, 33, 33);
  font-size: 0.8rem;
  text-align: center;
  color: #989898;
  padding: 15px;
}

