<!-- The layout of the website. two columns, fixed, where the one on the left makes the menu, unless it's mobile, then it becomes one column only -->
<!-- also a condition so that when the class scrollblock is active it's not possible to scroll up or down  -->
<section class="twoColumns" [class.scrollBlock]="isActive">
  
  <!-- Desktop Menu, visible with width 1024px or above -->
  <nav class="desktop-menu">
    <ul>
      
      <!-- Home Tab -->
      <li class="navlink">
        <a routerLink="/">Home</a>
      </li>
      
      <!-- Time tab -->
      <li class="navlink">
        <a routerLink="/time">Time</a>
      </li>
      
      <!-- History tab -->
      <li class="navlink">
        <a routerLink="/history">History</a>
      </li>
      
      <!-- Regions tab -->
      <li class="withsubnav navlink">
        <a class="text-align-center" routerLink="/nations">Regions<span class="icon-plus">&plus;</span><span class="icon-minus">&minus;</span></a>        
        <ul class="subnav">
          <li class="navlink" *ngFor="let region of regions; index as i">
            <a routerLink="/regions/{{region.region_id}}/">{{ region.region_name }}</a>
          </li>
        </ul>
      </li>
      
      <!-- Religions Tab -->
      <li class="withsubnav navlink">
        <a class="text-align-center" routerLink="/religion">Religion<span class="icon-plus">&plus;</span><span class="icon-minus">&minus;</span></a>
        <ul class="subnav">
          <li class="navlink" *ngFor="let pantheon of pantheons; index as i">
            <a class="text-align-center" routerLink="/detailedreligion/{{pantheon.pantheon_id}}">{{pantheon.pantheon_name}}</a>
          </li>
        </ul>
      </li>
      
      <!-- Orders Tab -->
      <li class="withsubnav navlink">
        <a class="text-align-center" routerLink="/orders">Orders<span class="icon-plus">&plus;</span><span class="icon-minus">&minus;</span></a>
        <ul class="subnav">
          <li class="navlink" *ngFor="let order of orders; index as i">
            <a class="text-align-center" routerLink="/orders/{{order.order_id}}">{{order.order_name}}</a>
          </li>
        </ul>
      </li>
      
      <!-- User Area Tab -->
      <li>
        <button title="login-menu" (click)="toggleSub()">User Area</button>
        <div *ngIf="reveal">
          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" *ngIf="!view">
            <h5 class="red-alert" role="alert" *ngIf="errorMessage" style="color:red; text-transform: none; padding: 5px;">{{errorMessage}}</h5>
            <input type="email" name="email" formControlName="email" placeholder="email" autocomplete="off">
            <input type="password" name="userPass" formControlName="password" placeholder="Password" autocomplete="off">
            <div>
              <button class="login-button" name="login" type="submit" [disabled]="!loginForm.valid">login</button>
            </div>
          </form>
          <div *ngIf="!view">
            <p class="loginTab">Not a registered user yet?</p>
            <a class="loginTabLink" href="/registerUser" style="padding:0; color:gold">Register Here!</a>
          </div>
          <div *ngIf="view">
            <h4 style="padding:10px 0">Welcome, User!</h4>
            <ul>
              <li>
                <a class="text-align-center" routerLink="/user-profile">User Profile</a>
              </li>
              <li>
                <a class="text-align-center" routerLink="/admin-backoffice">Admin Backoffice</a>
              </li>
            </ul>
          </div>
        </div>
      </li>
           
    </ul>
  </nav>
  
  <!-- the Mobile Menu and it's elements, active when width is 1023px or below -->
  <section class="mobile-menu" role="navigation">
    
    <!-- fading background half transparent when the mobile menu appears -->
    <div class="background-fade" (click)="toggleMenu();checkActive()" *ngIf="show">
    </div>
    
    <!-- Hamburguer that expands to reveal the mobile menu and hide's it on click -->
    <div class="hamburguer"> 
      <button class="toggle" title="navigation-menu" (click)="toggleMenu();checkActive()">
        <fa-icon [icon]="faBars" size="2x" *ngIf="!show"></fa-icon>
        <fa-icon [icon]="faTimes" size="2x" *ngIf="show"></fa-icon>
      </button>      
    </div>
    
    <!-- the mobile menu tabs -->
    <div class="mobile-content" *ngIf="show">      
      <ul>
        <!-- User Login Tab -->
        <li>
          <button class="toggleTab" title="login-menu" (click)="toggleSub()">User Login</button>

          <div *ngIf="reveal">

            <!-- error message to appear if form is incorrect -->
            <h5 class="red-alert" role="alert" *ngIf="errorMessage" style="color:red; text-transform: none; padding: 5px;">{{errorMessage}}</h5>

            <!-- simple login form with 2 input values -->
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" *ngIf="!view">

              <input type="email" name="userLogin" fromControlName="email" placeholder="email" autocomplete="off">
              <input type="password" name="userPass" fromControlName="password" placeholder="Password" autocomplete="off">
              <div>

                <!-- login button should only be clickable once the form values are valid -->
                <button class="login-button" name="login" type="submit" [disabled]="!loginForm.valid">login</button>

              </div>

            </form>
            <div *ngIf="!view">

              <p class="loginTab">Not a registered user yet?</p>
              <a class="loginTabLink" href="/registerUser" style="padding:0; color:gold">Register Here!</a>

            </div>
            <div *ngIf="view">
              
              <h4 >Welcome, User!</h4>
              <ul>
                <li>
                  <a class="text-align-center" routerLink="/user-profile">User Profile</a>
                </li>
                <li>
                  <a class="text-align-center" routerLink="/admin-backoffice">Admin Backoffice</a>
                </li>
              </ul>
            </div>
          </div>
        </li>

        <!-- Home tab -->
        <li>
          <a routerLink="/" (click)="toggleMenu();checkActive()">Home</a>
        </li>

        <!-- Time tab -->
        <li>
          <a routerLink="/time" (click)="toggleMenu();checkActive()">Time</a>
        </li>

        <!-- History tab -->
        <li>
          <a routerLink="/history" (click)="toggleMenu();checkActive()">History</a>
        </li>
        
        <!-- Nations tab and it's subcontent -->
        <li class="withsubnav navlink">
          <a class="text-align-center" routerLink="/nations" (click)="toggleMenu();checkActive()">Regions<span class="icon-plus">&plus;</span><span class="icon-minus">&minus;</span></a>        
          <ul class="subnav">
            <li class="navlink" *ngFor="let region of regions; index as i">
              <ul>
                <li *ngFor="let region of regions">
                  <a routerLink="/nationindetail/{{region.region_id}}" (click)="toggleMenu();checkActive()">{{ region.region_name }}</a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        
        <!-- religion tab and it's subcontent -->
        <li class="withsubnav navlink">
          <a routerLink="/religion" (click)="toggleMenu();checkActive()">Religion<span class="icon-plus">&plus;</span><span class="icon-minus">&minus;</span></a>
          <ul class="subnav">
            <li class="navlink" *ngFor="let pantheon of pantheons; index as i">
              <a routerLink="/detailedreligion/{{pantheon.pantheon_id}}" (click)="toggleMenu();checkActive()">{{pantheon.pantheon_name}}</a>
            </li>
          </ul>
        </li>
        
        <!-- orders tab and it's subcontent -->
        <li class="withsubnav navlink">
          <a routerLink="/orders" (click)="toggleMenu();checkActive()">Orders<span class="icon-plus">&plus;</span><span class="icon-minus">&minus;</span></a>
          <ul class="subnav">
            <li class="navlink" *ngFor="let order of orders; index as i">
              <a routerLink="/orders/{{order.order_id}}" (click)="toggleMenu();checkActive()">{{order.order_name}}</a>
            </li>
          </ul>
        </li>
        
        
      </ul>
      
    </div>
    
  </section>
  
  <!-- 2nd column of the 2 columns. Content is divided into Main and Footer -->
  <section class="background-fill">
    <main>
      <router-outlet></router-outlet>
    </main>
    
    <!-- footer area with links (internal and external) -->
    <footer>
      
      <!-- button to go back to the top of the page -->
      <div class="backtotop text-align-center">
        <div class="backtotoplink">
          <button (click)="scrollTop()">back to top</button>
        </div>
      </div>
      
      <!-- footer divided into a grid of two columns -->
      <section class="footercontent">
        
        <!-- Social Section -->
        <section class="text-align-center">
          
          <h3 class="uppercase">Social Media</h3>
          <!-- Social Icons -->
          <div class="socialIcons">
            
            <!-- Instagram -->
            <a href="http://www.instagram.com">
              <img class="socialIcon" src="../assets/Images/social instagram icon.png" alt="Instagram hyperlink">
            </a>
            <!-- Twitter -->
            <a href="http://www.twitter.com">
              <img class="socialIcon" src="../assets/Images/social twitter icon.png" alt="Twitter hyperlink">
            </a>
            <!-- Twitch -->
            <a href="http://www.twitch.com">
              <img class="socialIcon" src="../assets/Images/social twitch icon.png" alt="Twitch hyperlink">
            </a>
            <!-- Youtube -->
            <a href="http://www.youtube.com">
              <img class="socialIcon" src="../assets/Images/social youtube icon.png" alt="Youtube hyperlink">
            </a>
          </div>
          
        </section>
        
        <!-- table of contents -->
        <section class="indexbottom">
          <h3 class="uppercase">Table of Contents</h3>
          <!-- Quicklinks -->
          <div>
            <ul>
              <li>
                <a routerLink="/history">History</a>
              </li>
              <li>
                <a routerLink="/regions">Regions</a>
              </li>
              <li>
                <a routerLink="/orders">Orders</a>
              </li>
              <li>
                <a routerLink="/religion">Religion</a>
              </li>
              <li>
                <a routerLink="/time">Time</a>
              </li>
            </ul>
          </div>
        </section>
        
      </section>
      
      <!-- copyright -->
      <div class="copyright">
        <p>2021 Eurico Teles. All Rights Reserved.</p>
      </div>
    </footer>
  </section>
  
</section>

