<h1>search results</h1>

<div class="container">
    <h2>do these results match your criteria?</h2>

    <ul>
        <li>
            <h3>Nations:</h3>
            <a routerLink="/nationindetail/VSM/KMR">Kaastian Mercantile Republic</a>
        </li>
        <li>
            <h3>Religions:</h3>
            <a routerLink="/detailedreligion/kaakla">Kaastian Klaarism</a>
        </li>
        <li>
            <h3>Orders:</h3>
            <a routerLink="/orders/silk">The Silk Corporation</a>
        </li>
    </ul>
</div>


