<section class="container">

    <h1>Delete God</h1>
    
    <form action="" [formGroup]="deleteGod">
        
        <div>
            <label>
                Which god you want to delete?
                <select name="chosenGod">
                    <option *ngFor="let god of gods; index as i" value="{{god.god_id]]">{{god.god_name}}</option>
                </select>
            </label>
        </div>
        <h5 class="red-alert" role="alert" *ngIf="Message">{{Message}}</h5>
        <div>
            <label>
                <input type="checkbox" formControlName="checkbox" name="agrees" required="">
                Please confirm if this is the item you want to delete
            </label>
        </div>
        <div>
            <button type="submit" name="send">Delete</button>
        </div>
    </form>
</section>
