<section class="container">
  
  <h1>Time</h1>
  <div class="twocolumns">
    <div class="div-pocket background-fill-white">
    
      <h2>Months and their respective season</h2>
      
      <p>The human calendar of Arthan Uthyl consists of four seasons, Winter, Spring, Summer and Autumn. Each year has twelve months, named after deities from different cultures. Each season consists of three months and each month has thirty days.</p>

      <p><strong>MALATHUS</strong>, the first, named after the Krin deity. Winter.</p>
      <p><strong>MARIZAN</strong>, the second, named after the Tvor deity. Winter.</p>
      <p><strong>TARCANA</strong>, the third, named after the Beveritan deity. Winter.</p>
      <p><strong>GINEV</strong>, the fourth, named after the Cretian deity. Spring.</p>
      <p><strong>VISAG</strong>, the fifth, named after the Rubran deity. Spring.</p>
      <p><strong>KALIA</strong>, the sixth, named after the Kaastian deity. Spring.</p>
      <p><strong>APOLIS</strong>, the seventh, named after the Lampian deity. Summer.</p>
      <p><strong>HORM</strong>, the eight, named after the Sephian deity. Summer.</p>
      <p><strong>QUITET</strong>, the ninth, named after the Quepatec deity. Summer.</p>
      <p><strong>JUMAI</strong>, the tenth, named after the Ulnuc deity. Autumn.</p>
      <p><strong>INDRAE</strong>, the eleventh, named after the Meynari deity. Autumn.</p>
      <p><strong>SHAKUR</strong>, the twelveth, named after the Mukulan demigod. Autumn.</p>
    
    </div>
    
    <div class="div-pocket background-fill-white">
    
      <p>In Autumn and Winter, the humanfolk are often attacked by the savage forces from the outer lands. The days are short, with no more then eight hours of sunlight, so the time passed in those seasons is named <strong>"Tempus Nocte"</strong>. The seasons of Spring and summer is when humans crop their farms, repair the damages made in the cold seasons and there's social development. During this time, daylight lasts longer, about sixteen hours, so humans call this period of the year <strong>"Luce Profetus"</strong>.</p>
    
      <h2>Days of the Week</h2>

      <p>One week consists of seven days and in most cultures, the seventh day is for leisure. People don't usually work. The days of a week are named after ancient heroes of legend, belonging to different cultures, as following.</p>
    
      <p><strong>VIRIA</strong>, the first, named after the famous Viriatus of the Rubran.</p>
      <p><strong>MAXIA</strong>, the second, named after the great Cretian emperor.</p>
      <p><strong>EMYRA</strong>, the third, named after the old Ulnuc emperor.</p>
      <p><strong>SHENIA</strong>, the fourth, named after the Minzao dragon emperor.</p>
      <p><strong>KHALIA</strong>, the fifth, named after the Lao-Tse founding father.</p>
      <p><strong>MIQUIA</strong>, the sixth, named after Krin's first king.</p>
      <p><strong>CIDRIA</strong>, The seventh, named after the Beveritan upriser.</p>
    </div>
  </div>
</section>
