<section class="container">
  
  <div class="header">
    <h1>Arthan Uthyl</h1>
    <h2 class="text-align-center">A Historical Fantasy Campaign Setting for your roleplaying needs</h2>
  </div>
  
  <div class="div-pocket background-fill-white">
    <h3>What's New</h3>
    <p>The frontend is being done! Woohoo! Hurray! Doing the site in Angular has been excruciatingly frustrating and something that I never imagined that would be so overwhelmingly complicated.</p>
    <p>I must give here a personal shoutout to some people whom have had an enormous patience so far in helping me in my fledgeling career as a developer. So a big shoutout and thank you to:</p>
    <ul>
      <li>Sofia Lobato. For being my rock and always reminding me to keep calm and believing in my success.</li>
      <li>João Fernandes. For making me believe that this project made sense and to not be ashamed of my nerd self.</li>
      <li>João Afonso. For giving me the idea that this project could be an interesting idea to test my skills.</li>
      <li>Paulo Figueiredo. For being one of the best teachers I could have asked for and for the unrelenting availability in helping others.</li>
      <li>Ivo Gonçalves. For keep pushing me to go beyond my limit and reminding me to think.</li>
    </ul>
    <p>What have I added so far? Here's a list:</p>
    <ul>
      <li>Added personalized banners to most nations.</li>
      <li>Expanding the world with a new section with orders from the continent.</li>
      <li>Added palceholder description to every religion.</li>
      <li>Added placeholder banners to every religion and nation</li>
      <li>Small revisions to a few nation traits to make the game more streamlined for beginners.</li>
    </ul>
    <p>that's it for now. Hopefully I'll be able to put this monster up soon! Keep in touch and if you want to be up to date, just sign up to the newsletter!</p>
    <p>Eurico Teles, 26-07-2021</p>
  </div>
  
  <!-- space for the app-register will be -->
  <app-register></app-register>

  <div class="div-pocket background-fill-white">
    <h3>What is it?</h3>
    <p>Welcome to the fantasy setting of Arthan Uthyl. Arthan Uthyl is a fantasy campaign setting heavily inspired on historical ancient civilizations and that has been mutating since it's creation, in 2004. With it I want to create a live experience, where players can feel part of a living world where there action help shape the next eras of the fiction.</p>
    
    <h3>Who is behind it?</h3>
    <p>My name is Eurico Teles, portuguese and with wordly experience, and I have been a Dungeon Master for Dungeons & Dragons (v 3.5) since 2001, and Pathfinder (v 1.0) since it's release. Both a fantasy and sci-fi fan, I have always been fascinated with this creative worlds and trying to create one has been a life goal of mine since very young. When I started playing D&D I finally had that opportunity and the feedback that I got from players was fantastic. So I decided it was time to make it big and digitalize it.</p>
    
    <h3>Why now?</h3>
    <p>In 2015 I tried learning by myself web developing and release my first website, a prototype of this one. Though truth be told, I didn't know much. Since then I have embarked on an actual course and though it would be a nice challenge to combine these two things that I love and recreate the old website but with nowadays knowledge and technology.</p>
    
    <h3>Can I be part of it?</h3>
    <p>Sure you can! on each section of the website you can find a comments section where you can leave a suggestion, an appreciation or a note. Please be respectful since this is an independent project and I am by no means a professional fantasy writer.</p>
    
    <h3>Can I use your setting?</h3>
    <p>That's the purpose of it being online. While it's technically made to be used with Pathfinder, feel free to use it in whichever fantasy tabletop RPG you see fit and share your experiences with it. I will be happy to hear about it.</p>
    
  </div>
  
</section>
