<section>
    <div class="email-signup">
        <div class="email-signup-content">
            <div>
                <h3>Arthan Uthyl Newsletter</h3>
            </div>
            <div *ngIf="!reveal">
                <h4>Sign up to get the latest info on Arthan Uthyl news!</h4>
            </div>
            <div>
                <form [formGroup]="emailForm" (ngSubmit)="onSubmit()" *ngIf="!reveal">
                    <h5 class="red-alert" role="alert" *ngIf="errorMessage">{{errorMessage}}</h5>
                    <div class="form-input">
                        <input class="signup-email-box" name="emailAddress" formControlName="email" type="email" placeholder="Email Address" aria-label="Email Address">
                    </div>
                    <div>
                        <button class="signup-button" name="signUp" type="submit">sign up</button>
                    </div>
                </form>
                <h4 *ngIf="reveal">Thank you for signing up!</h4>
            </div>
        </div>
    </div>
</section>
