<article class="container">
  <h1>Regions</h1>
  <section class="pageheader">
    <p>The continent is thriving with nations that hunger for supremacy. in this section you'll learn about each of those, their respective culture and traits.</p>
    <p>All the Human nations, from the biggest empire to the smallest tribe, can be found here. Delve in, and soak in a rich and diversified setting. These nations are categorized by region, so to be easier for newcomers to identify each of the many nations.</p>
  </section>
  
  <section class="grid-area-big">

    <div class="div-card margin-side text-align-center background-fill-white" *ngFor="let region of regions; index as i">
      
      <a routerLink="/region/{{region.region_id}}">
        
        <h2 class="golden">{{region.region_name}}</h2>

      <p class="smalldesccolor">{{region.region_description}}</p>

      </a>

    </div>

  </section>

</article>